.items-container{
    display: flex;
    margin-left: 50px;
    padding-left: 50px;
    grid-template-columns: auto auto auto; /* adjust as needed */
    align-items: center; /* align vertically */
    gap: 10px;
}

.uploads-container {
    width: 662px;
    margin: 80px auto 0 0px;
    font-family: 'Arial';
    text-align: center;
  }